@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --white: #e8e8e8;
    --red: #f05454;
    --dark-blue: #30475e;
    --black: #222831;
}

body {
    background: var(--white);
    margin: 0;
    font-family: 'Poppins'; 
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--black);
}

section {
    padding: 5em 2em;
}

.navbar-section {
    background: var(--black);
    padding: 1em;

    .logo {
        color: var(--white);
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2em;

        span {
            color: var(--red);
        }
    }

    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }

    .menu-btn {
        display: block;
    }

    .mobile-menu {
        width: 1em;
        height: 1em;
        padding-top: 0.4em;
        cursor: pointer;
    }
}

nav {
    position: fixed;
    z-index: 999;
    width: 50%;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    padding: 1em;

    ul.primary-nav {
        margin-top: 5em;
    }

    li {
        
        a {
            color: var(--black);
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;

            &:hover {
                font-weight: bold;
                color: var(--red);
            }
        }
    }

    .mobile-menu-exit {
        width: 1em;
        height: 1em;
        float: right;
        padding-top: 0.4em;
        cursor: pointer;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-section {

        .mobile-menu, .mobile-menu-exit {
            display: none;
        }

        .container {
            display: grid;
            grid-template-columns: 220px auto;
            justify-content: unset;
        }

        nav {
            display: flex;
            justify-content: space-between;
            background: none;
            position: unset;
            height: auto;
            width: 100%;
            padding: 0;

            ul {
                display: flex;
            }

            a {
                color: var(--white);
                font-size: 1em;
                padding: .1em .4em;

                &:hover {
                    color: white;
                }
            }

            ul.primary-nav {
                margin: 0;
            }

            li.current a {
                font-weight: bold;
            }
            li.go-premium-cta a {
                color: var(--primary-color);
                border: 3px solid var(--primary-color);
                font-weight: bold;
                border-radius: 5em;
                margin-top: -.2em;

                &:hover {
                    background: var(--primary-color);
                    color: white;
                }
            }
        }
    }
}